.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

#bookdesc {
    display: none;
}

#gamedesc {
    display: none;
}

#books {
    background-image: url(https://drive.google.com/uc?id=1zUI6DAu0TdCdLwSMsvk3vpxZe2fSC8VE);
}

#games {
    background-image: url(img/gamebg.jpg);
}

.carousel {
    padding: 10px;
    border-bottom: 2px solid black;
}